# Python virtual environments
.venv/
venv/

# Terraform/OpenTofu local state, plans, providers, and variable secrets
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfstate
**/*.tfstate.*
**/*secrets.tfvars
**/*.tfvars
**/plan

# Local private keys and cleartext secret material
terraform/secrets/
terraform/age_keypair/
**/id_*
**/*_keypair/
**/*.agekey

# Local environment files
**/.env
*.env

bak
